.blogTitle{
    margin: 2rem 1.5rem;
    text-align: center;
}

.paragraph{
    margin: 2rem 2rem;
    align-self: center;
    text-align: center;
}

.details{
    margin: 2rem 2rem;
    line-height: 2.5;
    width: 90%;
}