.genre{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.input-field{
    border: 2px solid lightcoral;
    height: 28px;
    margin: 0 auto;
    /* margin-top: 20px; */
    border-top-style: none;
    border-left-style: none;
    font-size: 18px; 
}

.flex-books{
    display: flex;
    margin: 10px 40px 40px;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media screen and (max-width: 700px){
    .welcome-msg{
        display: none;
    }

    .title-image{
        width: 100%;
    }

    .input-field{
        height: 22px;
        padding: 10px;
        font-size: 15px;
    }

    .thumbnail{
        height: 200px;
        width: 146px;
    }

    h3{
        font-size: 16px;
    }

    h4{
        font-size: 14px;
    }
    
}