.important{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.other{
    margin-left: 50px;
}

p{
    line-height: 1.3;
}

.titles{
    margin-top: 0;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 70px;
    margin-bottom: 40px;
}

.content > img{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}


.cover{
    height: 350px;
}

.reviews{
    margin-top: 40px;
	margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .recenzija{
        margin: 10px;
    }
}

.opus{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px 0;
}

.summary{
    width: 400px;
    margin-top: 15px;
}

.opinion{
    width: 60%;
    margin-bottom: 20px;
    background-color: #f4f4f4;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    padding: 18px;
}

.cover-author{
    height: 350px;
    margin-top: 0;
}

h4{
    padding: 10px;
}

button.add-review{
    background-color: #f4f4f4;
    width: 22%;
    align-self: center;
    margin-bottom: 45px;
    padding: 12px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
}

.add-review:hover{
    font-weight: bold;
    background-color: #e4e4e4;
}

@media screen and (max-width: 720px){
    .cover-author{
        display: none;
    }
    .summary{
        width: 95%;
    }

    .content{
        margin-top: 35px;
        margin-bottom: 30px;
    }

    .cover{
        display: none;
    }
    .opinion{
        width: 95%;

        .recenzija{
            margin: 5px;
        }
    }
}

@media screen and (max-width: 480px){
    button.add-review{
        width: 50%;
    }
}