* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  }

  p{
      margin-top: 2rem;
  }

.container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content{
    flex-grow: 1;
}